<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" class="g_html">


<head>

<title>{% block titile %} 项目管理系统 {% endblock %}</title>
<meta charset="utf-8" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="renderer" content="webkit">
<meta name="keywords" content=""/>
<meta name="description" content=""/>


<script type="text/javascript">
  var _cid = 11999093;
</script>

<link type="text/css" href="/static/style/1.css" rel="stylesheet" />
<link type="text/css" href="/static/style/2.css" rel="stylesheet" id="jzThemeFrame"/>
<link type="text/css" href="/static/style/3.css" rel="stylesheet" />

<!--自己修改的样式文件-->
<link type="text/css" href="/static/style/4.css" rel="stylesheet" />
<link type="text/css" href="/static/style/5.css" rel="stylesheet" />
<!--自己修改的样式文件-->
<link type="text/css" href="/static/style/6.css" rel="stylesheet" id='stylemodule'/>

<style id='stylenav' type='text/css'>
#nav  .navContent {background-size: contain;}
#nav  .navLeft{background-size: 100% 100%;}
#nav  .navRight{background-size: 100% 100%;}
#nav  .navCenterContent{background-size: contain;}
</style>

<style id='styleTitle' type='text/css'>
#primaryTitle{font-size:27px;}
#primaryTitle{font-weight:normal;}
</style>
{% block style %}
{% endblock %}

</head>


<body class="g_body g_locale2052 " >

	<div id="g_main" class='g_main g_col2 ' style='0' >
	<div id="web" class="g_web ">
		<table class="webTopTable" cellpadding="0" cellspacing="0">
			
			<tr>
				<td align="center">
					<div id="webTop" class="webTop">
						<div class="fkEditor-wrap">
							<div id="corpTitle" class="corpTitle corpTitle2" fontpatterntitle="true" style="top:34px;left:47px;;" _linktype="0">
								<div id="primaryTitle" style="color: rgb(34, 34, 34);">通信综合实验室
									<span color="#000000" style="color: rgb(0, 0, 0);">&nbsp;</span>
								</div>
							</div>
						</div>
						<div id="logo" class="logo logo2" style="top:5px;left:0px;display:block;">
							<a id="logoLink" hidefocus="true" class="link-p" link="javascript:;" onClick="return false;">
							{% load staticfiles %}
								<img id='logoImg' style='float:left;' height='95'width='85' src='{% static "image/1.jpg" %}' />
							</a>
						</div>

					</div>
				</td>
			</tr>
		</table>

		<table class="absTopTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="absTopForms" class="forms sideForms absForms">
						<div style="position:absolute;"></div><!-- for ie6 -->
					</div>
				</td>
			</tr>
		</table>
		<table class="webNavTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="webNav" class="webNav">
						
					</div>
				</td>
			</tr>
		</table>
		
		<table class="webHeaderTable" cellpadding="0" cellspacing="0" id="webHeaderTable">
			<tr>
				<td align="center" class="webHeaderTd">
					<div id="webHeader" class="webHeader">
						<table class='headerTable' cellpadding='0' cellspacing='0'>
							<tr>
								<td class='headerCusLeft'></td>
								<td class='headerCusMiddle' align='center' valign='top'>
									<div class='headerNav'>
										<div id='nav' class='nav nav2 fixedNavPos '>
											<div class='navMainContent'>
												<table class='navTop' cellpadding='0' cellspacing='0'>
													<tr>
														<td class='navTopLeft'>
														</td>
														<td class='navTopCenter'>
														</td>
														<td class='navTopRight'>
														</td>
													</tr>
												</table>
		
												<table class='navContent' cellpadding='0' cellspacing='0'>
													<tr>
													<td class='navLeft'></td>
													<td class='navCenterContent' id='navCenterContent' valign='top' align='left'>
													<div id='navCenter' class='navCenter' style='width:400px;'>
														<div class='itemPrev'></div>
														<div class='itemContainer'>
															<table title='' class='item itemCol2 itemIndex1' cellpadding='0' cellspacing='0' id='nav2' onClick="javascript:window.location.href='/login/'" >
																<tr>
																	<td class='itemLeft'></td>
																	<td class='itemCenter'>
																	<a hidefocus='true' style='outline:none;' href='/login/' target='_self' onclick='return false;'>
																	<span class='itemName0'>首页</span>
																	</a>
																	</td>
																	<td class='itemRight'></td>
																</tr>
															</table>
															<div class='itemSep'></div>
															<table title='' class='item itemCol17 itemIndex2' cellpadding='0' cellspacing='0' id='nav17' onClick="javascript:window.location.href='/login/register/'" >
																<tr>
																	<td class='itemLeft'></td>
																	<td class='itemCenter'>
																	<a hidefocus='true' style='outline:none;' href='/login/register/' target='_self' onclick='return false;'>
																	<span class='itemName0'>用户注册</span>
																	</a>
																	</td>
																	<td class='itemRight'></td>
																</tr>
															</table>
															<div class='itemSep'></div>
															<table title='' class='item itemCol101 itemIndex3' cellpadding='0' cellspacing='0' id='nav101' onClick="javascript:window.location.href='/about/'" >
																<tr>
																	<td class='itemLeft'></td>
																	<td class='itemCenter'>
																	<a hidefocus='true' style='outline:none;' href='/about/' target='_self' onclick='return false;'>
																	<span class='itemName0'>关于我们</span>
																	</a>
																	</td>
																	<td class='itemRight'></td>
																</tr>
															</table>
														</div>
														<div class='itemNext'></div>
													</div>
												    </td>
													<td class='navRight'></td>
													</tr>
												</table>
												
												<table class='navBottom' cellpadding='0' cellspacing='0'>
													<tr>
													<td class='navBottomLeft'></td>
													<td class='navBottomCenter'></td>
													<td class='navBottomRight'></td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</td>
								<td class='headerCusRight'></td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>

		<table class="webBannerTable J_webBannerTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="webBanner" class="webBanner">
						<table class="bannerTable" cellpadding="0" cellspacing="0">
							<tr>
								<td class="bannerLeft"></td>
								<td class="bannerCenter" align='center' valign='top'>
									<div class='bannerTop'></div>
<!-- 									<div id='banner' class='banner extBanner' style='background:url(http://0.ss.faisys.com/image/template/banners/374.jpg?v=) 50% 50% no-repeat;height:280px'  normalheight='280' defaultwidth='0'>
										<div class='banner defaultBannerMain' style='background:url(http://0.ss.faisys.com/image/template/banners/374.jpg?v=) 50% 50% no-repeat;height:280px'></div>
										<div class='defaultBannerEdge defaultBannerEdgeRight'></div>
										<div class='defaultBannerEdge defaultBannerEdgeLeft'></div>
									</div>
 -->
									<div id='banner' class='banner extBanner' style='background:url(/static/1.jpg) 50% 50% no-repeat;height:280px'  normalheight='280' defaultwidth='0'>
										<div class='banner defaultBannerMain' style='background:url(/static/1.jpg) 50% 50% no-repeat;height:280px'></div>
										<div class='defaultBannerEdge defaultBannerEdgeRight'></div>
										<div class='defaultBannerEdge defaultBannerEdgeLeft'></div>
									</div>

 								</td>
								<td class="bannerRight"></td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>

		<table class="absMiddleTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="absForms" class="forms sideForms absForms">
						
					</div>
				</td>
			</tr>
		</table>
		


		<div id="fullmeasureTopForms" class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureTopForms" style='display:none'>
			<wbr style='display:none;' />
		</div>
		{% block content %}
		{% endblock %}


		<table id="webFooterTable" class="webFooterTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">			
					<div id="webFooter" class="webFooter">
						<div id='footer' class='footer' >
							<table class='footerTop' cellpadding='0' cellspacing='0'>
							<tr valign='top'>
							<td class='topLeft'></td>
							<td class='topCenter'></td>
							<td class='topRight'></td>
							</tr>
							</table>
							<table class='footerMiddle' cellpadding='0' cellspacing='0'>
								<tr valign='top'>
									<td class='middleLeft'></td>
									<td class='middleCenter' align='center'>
										<div class='footerContent'>
											<div class='footerInfo'>
												<p><font face="Arial">©</font>2017 项目管理系统 版权所有</p>
											</div>
										</div>
									</td>
								</tr>
							</table>							
						</div>
					</div>										
				</td>
			</tr>
		</table>
					</div>	
	</div>
	</div>

	<link type="text/css" href="static/style/7.css" rel="stylesheet" />
	<link type="text/css" href="static/style/8.css" rel="stylesheet" />

</body>


</html>






