{% extends 'projectsystem/base_all.html' %}

{% block title %}登陆{% endblock %}

{% block content %}
<table id="webContainerTable" class="webContainerTable" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center">
					<div id="webContainer" class="webContainer">
						<div id="container" class="container">
							<table class="containerTop" cellpadding='0' cellspacing='0'>
								<tr valign='top'>
									<td class="left"></td>
									<td class="center"></td>
									<td class="right"></td>
								</tr>
							</table>

							<table class="containerMiddle" cellpadding='0' cellspacing='0'>
								<tr valign='top'>
									<td id="containerMiddleLeft" class="containerMiddleLeft"></td>
									<td class="containerMiddleCenter">
										<div id="containerMiddleCenterTop" class="containerMiddleCenterTop"></div>

				<div id="containerForms" class="containerForms">
					<div id="topForms" class="column forms mainForms topForms" style='display:none'></div>

					<table class="containerFormsMiddle" cellpadding='0' cellspacing='0'>
						<tr>
							<td valign="top" id="containerFormsLeft" class="containerFormsLeft" >
								<div class="containerFormsLeftTop"></div>
								<div id="leftForms" class="column forms sideForms leftForms">
									<div id="module363" _indexclass="formIndex1" _modulestyle="51" _moduleid="363" class="form  formIndex1 formStyle51" title="" style="height: 259px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
										<table class='formTop formTop363' cellpadding='0' cellspacing='0'><tr><td class='left'></td><td class='center'></td><td class='right'></td></tr></table>
										<table class='formBanner formBanner363' cellpadding='0' cellspacing='0' style=''><tr>
										<td class='left left363'></td>
										<td class='center center363' valign='top'>
										<table cellpadding='0' cellspacing='0' class='formBannerTitle formBannerTitle363'><tr>
										<td class='titleLeft titleLeft363' valign='top'>
										</td>
										<td class='titleCenter titleCenter363' valign='top'>
										<div class='titleText titleText363'>
										<span class='bannerNormalTitle fk_mainTitle mainTitle mainTitle363'>用户登录</span>
										</div>
										</td>
										<td class='titleRight titleRight363' valign='top'>
										</td>
										</tr></table>
										</td>
										<td class='right right363'></td>
										</tr></table>
										
										
										<table class='formMiddle formMiddle363' style='height:259px; ' cellpadding='0' cellspacing='0'>
										<tr>

										{% if username %}
										<form method="POST">
										<td class='formMiddleLeft formMiddleLeft363'></td>
										<td class='formMiddleCenter formMiddleCenter363' valign='top'>
										<div class='formMiddleContent formMiddleContent363 fk-formContentOtherPadding' tabStyle='0'>
										{% if string %}
										<div>{{string}}</div>
										{% endif %}
										<div class='J_memberLoginPanel memberLoginPanel member'>
										<div class='memberLoginItemList'>
										<div class='J_memberLoginItem memberLoginItem itemSpace'>
											hello {{ username }}
										</div>
										
										<div>
										<style>
										#sub{width:180px;height:45px;line-height:35px;background:#ffad2b no-repeat;color:white;font-size:16px;font-family:微软雅黑;border:none;}
										</style>
										
										<!-- <input hidefocus='true' type="submit" value="注  销"> -->
										<a href="/login/logout">注销</a>
										{% if position == "0" %}
											<a href="/teacher/project/list/">查看项目</a>
										{% elif position == "1" %}
											<a href="/student/project/list/">查看项目</a>
										{% endif %}
										</div>
										
										</div>
										
										</div>
										<div class='memberMsg'></div>
										</div>
										</td>
										<td class='formMiddleRight formMiddleRight363'></td>
										</form>

										{% elif not username %}
										<form method="POST">
										<td class='formMiddleLeft formMiddleLeft363'></td>
										<td class='formMiddleCenter formMiddleCenter363' valign='top'>
										<div class='formMiddleContent formMiddleContent363 fk-formContentOtherPadding' tabStyle='0'>
										{% if string %}
										<div>{{string}}</div>
										{% endif %}
										<div class='J_memberLoginPanel memberLoginPanel member'>
										<div class='memberLoginItemList'>

										<div class='J_memberLoginItem memberLoginItem itemSpace'>
											<input name='username' class='generateInput memberAcctInput' type='text' placeholder='帐号' value='' />
										</div>
										<div class='J_memberLoginItem memberLoginItem itemSpace'>
											<input name='userpassword' class='generateInput memberPwdInput' type='password' placeholder='密码'/>
										</div>
										
										<div>
										<style>
										#sub{width:180px;height:45px;line-height:35px;background:#ffad2b no-repeat;color:white;font-size:16px;font-family:微软雅黑;border:none;}
										</style>
										
										<input hidefocus='true' type="submit" value="登  录">
										</div>
										
										</div>
										<div></br></div>
										<div class='signup'>
										<a class='regAcct' hidefocus='true' href='/login/register/'>免费注册></a>
										</div>
										</div>
										<div class='memberMsg'></div>
										</div>
										</td>
										<td class='formMiddleRight formMiddleRight363'></td>
										</form>

										{% endif %}

										</tr>
										</table>
										
										
										<table class='formBottom formBottom363' cellpadding='0' cellspacing='0'><tr><td class='left left363'></td><td class='center center363'></td><td class='right right363'></td></tr></table>
										<div class='clearfloat clearfloat363'></div>
									</div>
									
									<div id="module302" _indexclass="formIndex2" _modulestyle="1" _moduleid="302" class="form form302 formIndex2 formStyle1" title="" style="height: 261px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="true" _independent="false">
										<table class='formTop formTop302' cellpadding='0' cellspacing='0'><tr><td class='left'></td><td class='center'></td><td class='right'></td></tr></table>
										<table class='formBanner formBanner302' cellpadding='0' cellspacing='0' style=''><tr>
										<td class='left left302'></td>
										<td class='center center302' valign='top'>
										<table cellpadding='0' cellspacing='0' class='formBannerTitle formBannerTitle302'><tr>
										<td class='titleLeft titleLeft302' valign='top'>
										</td>
										<td class='titleCenter titleCenter302' valign='top'>
										<div class='titleText titleText302'>
										<span class='bannerNormalTitle fk_mainTitle mainTitle mainTitle302'>联系方式</span>
										</div>
										</td>
										<td class='titleRight titleRight302' valign='top'>
										</td>
										</tr></table>
										</td>
										<td class='right right302'></td>
										</tr></table>
										<table class='formMiddle formMiddle302' style='height:261px; ' cellpadding='0' cellspacing='0'><tr>
										<td class='formMiddleLeft formMiddleLeft302'></td>
										<td class='formMiddleCenter formMiddleCenter302' valign='top'>
										<div class='formMiddleContent formMiddleContent302 fk-formContentOtherPadding' tabStyle='0'>
											<div class='richContent richContent0'>
												<p><strong>联系人：</strong>XXXXX</p>
												<p><strong>电　话：</strong>XXXXX</p>
												<p><strong>邮　箱：</strong>XXXXX</p>
												<p><strong>地　址：</strong>XXXXX</p>
												<p><br /></p>
											</div>
										</div>
										</td>
										<td class='formMiddleRight formMiddleRight302'></td>
										</tr></table>
										<table class='formBottom formBottom302' cellpadding='0' cellspacing='0'><tr><td class='left left302'></td><td class='center center302'></td><td class='right right302'></td></tr></table>
										<!--<div class='clearfloat clearfloat302'></div>-->
									</div>
								</div>
								<div class="containerFormsLeftBottom">
								</div>
							</td>

							<td valign="top" id="containerFormsCenter" class="containerFormsCenter">
					
							<div id="centerTopForms" class="column forms mainForms centerTopForms" >
								<div id="module361" _indexclass="formIndex1" _modulestyle="1" _moduleid="361" systempattern="456" class="form form361 formIndex1 formStyle1 jz-modulePattern456" title="" style="height: 527px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
									<table class='formTop formTop361' cellpadding='0' cellspacing='0'>
										<tr>
											<td class='left'></td>
											<td class='center'></td>
											<td class='right'></td>
										</tr>
									</table>
									<table class='formBanner formBanner361' cellpadding='0' cellspacing='0' style=''>
									<tr>
										<td class='left left361'></td>
										<td class='center center361' valign='top'>
											<table cellpadding='0' cellspacing='0' class='formBannerTitle formBannerTitle361'>
											<tr>
												<td class='titleLeft titleLeft361' valign='top'></td>
												<td class='titleCenter titleCenter361' valign='top'>
													<div class='titleText titleText361'>
														<span class='bannerNormalTitle fk_mainTitle mainTitle mainTitle361'>实验室简介</span>
														<div class='bannerTextOutWrap j_doubleTitleSkin'>
															<span class='bannerTextInnerWrap'>
																<span class='doubleTitleWrap doubleTitleWrap361'>
																	<p class='mainTitleWrap'>
																	<span class='fk_mainTitle mainTitle mainTitle361'>实验室简介</span>
																	</p>
																	<p class='titleUnderAidLine0 dividingLine dividingLine361'></p>
																</span>
																<p class='titleInnerAidLine0 dividingLine dividingLine361'></p>
																<p class='titleInnerAidLine1 dividingLine dividingLine361'></p>
																<p class='titleInnerAidLine dividingLineDefault dividingLineDefault361'></p>
															</span>
														</div>
													</div>
												</td>											
											</tr>
											</table>
										</td>
									</tr>
									</table>
									<table class='formMiddle formMiddle361' style='height:527px; ' cellpadding='0' cellspacing='0'>
									<tr>
									<td class='formMiddleLeft formMiddleLeft361'></td>
									<td class='formMiddleCenter formMiddleCenter361' valign='top'>
										<div class="formMiddleContent formMiddleContent361 fk-formContentOtherPadding" tabstyle="0" style="height: 478px; overflow-y: hidden;">
											<div class='richContent richContent0'>
												<p><span style="font-size:14px;"><br /></span></p>
												 
												<p><span style="font-size:14px;">北京交通大学电子信息工程学院通信工程专业2007年首批列入国家“二类特色专业建设点”，2012年立项成为国家综合改革试点专业。作为教学平台，通信工程专业实验室隶属2013年教育部批准的国家级“ 电子信息与计算机实验中心”，承担通信工程专业实践教学任务，同时作为学院学科实验平台的一部分，为学院的科研工作提供有力的支撑。</span><br /></p>

												<p><span style="font-size:14px;">电子信息工程学院于2014年与中兴通讯学院、中兴协力科技有限公司签订协议，联合共建通信工程专业实验室。目前实验室设备资产达5000万（学校投入500万，企业投入4500万），建筑面积916平方米。</span></p>
												<p><span style="font-size:14px;">实验室拥有3G/4G、SDH、OTN、PON、PTN、数据&视频会议等企业级设备，同时拥有通信系统实验平台、无线通信实验平台、光通信实验平台、通信网与交换实验平台，计算机网络平台、信息与网络安全平台等实验教学平台。目前实验室承担《通信工程专业综合实验》、《通信原理实验》、《无线通信基础》等必修课程及《移动通信系统》等限选课程的实验教学及专业实习任务。</span></p>

												<p><span style="font-size:14px;">实验室在承担本校通信工程专业实践教学工作之余，为参与大学生创新创业训练计划的学生提供技术、场地等支持，面向学院广大师生和社会开放。</span></p>

												<p><br /></p>
											</div>
										</div>
									</td>
									</tr>
									</table>
								</div>
							</td>							
						</tr>
					</table>
							</div>
			</td>
		</tr>
	</table>
</div>

					</div>
				</td>
			</tr>
		</table>	
{% endblock %}